.header {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0px 5% 0px 5%;
  border-bottom: 2px solid #3b3535;
}

.logo-name {
  white-space: nowrap;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 50px;
}

.nav {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  color: white;
}

.nav > div {
  margin: 0 20px 0 0;
  box-sizing: content-box;
  transition: all 125ms ease-in;
  border-bottom: 0px white solid;
}

.nav-items:hover {
  color: rgb(212, 212, 212);
  box-sizing: border-box;
  border-bottom: 2px white solid;
}

.nav-burger,
.menu-icon {
  height: 100%;
}

.nav-burger,
.nav-dropdown-content {
  display: none;
}

/*wow responsive dw ang tirada*/
@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
  }

  .nav-burger {
    display: block;
    position: relative;
  }

  .nav-burger:hover .nav-dropdown-content {
    display: block;
    position: absolute;
    background-color: #3b3535;
    width: 150px;
    right: -20;
    transition: all 150ms ease-in;
  }

  .nav-dropdown-content > div {
    padding: 10px;
  }

  .nav-dropdown-content > div:hover {
    background-color: #272323;
  }
  .nav-burger img {
    padding-top: 17px;
    opacity: 1;
    transition: opacity 125ms ease-in;
  }
  .nav-burger:hover img {
    opacity: 0.5;
  }
}
