@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    height:100%;
    font-family: 'Fjalla One';
    margin:0;
    padding:0;
    background-color: black;
}

.root {
    height:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}


.mainContainer {
    border-bottom:2px solid black;
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
    background-image: radial-gradient( circle farthest-corner at 53.9% 53.1%,  rgba(250,98,95,1) 0%, rgba(150,60,58,1) 100.2% );
}


.mainContainer h1{
    font-size:20px
}

.uselessCard {
    background-color: rgb(255, 240, 221);
    width:300px;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
}

.generateButton {
    border:2px solid black;
    cursor:pointer;
    margin-top:10px;
    padding:5px;
    border-radius: 5px;
    background-color:rgb(240, 255, 107);
    transition:all 150ms ease;
}

.generateButton:hover {
    opacity: 0.8;
}
.historyContainer{
    padding:20px;
    background-image: linear-gradient( 109.6deg,  rgba(233,207,112,1) 11.2%, rgba(221,9,9,1) 91.1% );
}

.historyCard {
    background-color: aquamarine;
    height:min-content;
    width:300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    transition:all 150ms;
}

.historyX{
    padding-left:10px;
    height:10px;
    width: 10px;
    text-align: right;
    transition: all 150ms ease;
    cursor:pointer;
}
.historyCard:hover{
    transform: scale(1.1);
}
.historyX:hover{
    opacity: 0.8;
}
.histories{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-evenly;
}
.historySec {
    display: flex;
    justify-content: space-between;
}

.historyTitle{
    font-size:30px;
    padding: 0px 10px 0px 10px;
}
.source {
    padding-top:3px;
    font-size:10px;
}
.historyTitle{
    padding-bottom:10px;
}
.footer{
    color:white;
    padding-right:5px;
    background-color: black;
    text-align: right;
}